h1,
h2 {
  color: rgb(95, 33, 154);
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 20 px 0;
  text-shadow: 2px 2px 1px black;
}

p,
ol {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
button {
  background-color: rgb(250, 247, 247);
  color: rgb(132, 72, 72);
  font-size: 25px;
  margin-bottom: 20px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: bisque;
  padding: 0 20px 20px 20px;
  border: 1px solid rgb(221, 221, 221);
}
