/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
} */
body {
  min-height: 200vh;
}
a {
  text-decoration: none;
  font-size: 18px;
}
.btn-container {
  border: 1px solid rebeccapurple;
  display: flex;
  justify-content: space-around;
}
img {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
