*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
}
body {
  min-height: 200vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.btn-container a {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}
